footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8rem;
  width: 100%;
  padding: 1.5em;
  background-color: #373373;
  background-image: url("/images/fabric-1-dark.png");
  color: #FFFFFF;

  span {
    font-size: 14px;
    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  #contacts {
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
}

