// Variables
$grey: #e9eaea;
$greyBottomBorder: 5px solid $grey;
$purple: #373373;
$tablet-width: 1100px;
$mobile-width: 700px;

//Mix-Ins

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

header {
  border-bottom: $greyBottomBorder;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: $purple;
  background-image: url("/images/fabric-1-dark.png");

  @include tablet() {
    flex-direction: column;
    height: 200px;
   }

  a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
  }

  button {

    margin-right: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    box-shadow: 0 2px 10px 0 rgba(55,51,115,.3);
    border-radius: 5px;
    font-size: 1em;
    background-color: white;
    color: $purple;
    transition-duration: 0.4s;

  }

  button:hover {
    cursor: pointer;
    background-color: $grey;
  }
}

.right-nav {
  display: flex;
  @include tablet() {
    flex-direction: column;
   }
  span {
    display: flex;
    align-self: center;
    margin-right: 50px;
    font-size: 1.2em;
    font-weight: 300;
    color: #FFFFFF;
    @include tablet() {
      margin-bottom: 15px;
     }
    strong {
      margin-left: 5px;
      font-weight: 600;
    }

  }

  .header-buttons {
    display: flex;
  }

}



