// Variables
$grey: #e9eaea;
$greyBottomBorder: 5px solid $grey;



.listings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
  border: 1px solid $grey;
  background-color: #ffffff;
  border-bottom: $greyBottomBorder;
}

.all-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.single-listing {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 31%;
  margin-bottom: 20px;
  margin-right: 1%;
  margin-left: 1%;
  padding: 10px 10px;
  border: 2px solid $grey;
  border-bottom: $greyBottomBorder;
}

.listing-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h3 {


  }

  h4 {


  }
  h5 {
    color: silver;
  }
}

.price {
  color: green;
}

.listing-buttons {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  display: flex;
  justify-content: center;
  img {
    height: 275px;
    width: 275px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

